body{
    margin: 0px;
    background-color: rgba(145, 143, 30, 0.7);
}

.container{
background-color:rgba(145, 143, 30, 0.4);
height: 200px;
width: 400px;
margin: 20px auto;
padding: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
border-radius: 10px;
font-size: larger;

}